.root {
    rootColor: #7b7d7b;
    circuitColor: white;
    circuitSelectionColor: #f4faff;
    icons-color: #636563;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: circuitColor;
}

.circuit {
    -fx-background-color: circuitColor;
}

.circuit:hover {
    -fx-background-color: circuitSelectionColor;
}

.circuit > .center-line {
    -fx-stroke: rootColor;
}

/*.circuit:hover > .center-line {
    -fx-stroke-dash-array: 3;
}*/

.circuit .line-label {
    -fx-padding: 10;
    -fx-background-color: circuitColor;
    -fx-text-fill: rootColor;
}

.circuit:hover .line-label {
    -fx-background-color: circuitSelectionColor;
}

.circuit .gate-row {
    -fx-background-color: transparent;
    /*-fx-padding: 7 5 7 0;*/
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

.circuit > .circuit-output {
    -fx-background-color: transparent;
    /*-fx-padding: 15 5 15 0;*/
}

.circuit-output {
    -fx-background-color: #f0f9f0;
    -fx-border-color: rootColor;
    -fx-border-width: 0;
    /*-fx-effect: dropshadow(three-pass-box, rgba(7,7,7,0.5), 7, 0, 2, 2);*/
}

.circuit-output > .label {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: .8em;
    -fx-border-width: 1;
    -fx-border-color: rootColor;
}

.circuit-output > .percentage {
    -fx-background-color: springgreen;
    -fx-stroke-width: 0;
}

.gate-symbol {
    -fx-background-color: #fffbf0;
}


.glyph-icon{
    -fx-text-fill: icons-color;
    -fx-fill: icons-color;
}

.glyph-icon:selected {
    -fx-text-fill: white;
    -fx-fill: white;
}

.glyph-icon:hover{
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0);
}
